name: goreleaser

on:
  push:
    # run only against tags
    tags:
      - '*'

permissions:
  contents: write
  # packages: write
  # issues: write

jobs:
  goreleaser:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git fetch --force --tags

      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.20.0'
          cache: true

      - uses: goreleaser/goreleaser-action@v4
        with:
          version: v1.19.2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GHTOKEN_GORELEASER }}
          CHOCOLATEY_APIKEY: ${{ secrets.CHOCOLATEY_APIKEY }}

      - run: echo ("VERSION_NAME=" + $env:GITHUB_REF_NAME.TrimStart("v")) >> $env:GITHUB_ENV
      - run: echo $VERSION_NAME
      
      - name: Release to Winget
        uses: vedantmgoyal2009/winget-releaser@v2
        with:
          identifier: jsdelivr.Globalping
          installers-regex: 'Windows'
          version: ${{ github.event.release.tag_name }}
          max-versions-to-keep: 5
          token: ${{ secrets.GHTOKEN_WINGET }}
          
          
      - uses: actions/upload-artifact@v3
        with:
          name: goreleaser-deb
          path: dist/globalping_${{ env.VERSION_NAME }}_linux_amd64.deb
      - uses: actions/upload-artifact@v3
        with:
          name: goreleaser-rpm
          path: dist/globalping_${{ env.VERSION_NAME }}_linux_amd64.rpm

  deploy:
    needs: goreleaser
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: goreleaser-deb
      - uses: actions/download-artifact@v3
        with:
          name: goreleaser-rpm
      - run: echo "VERSION_NAME=${GITHUB_REF_NAME:1}" >> $GITHUB_ENV
      - run: echo globalping_${{ env.VERSION_NAME }}_linux_amd64
      - run: ls -la
      - uses: jsdelivr/upload-packagecloud@v3
        with:
          DEB-PACKAGE-NAME: globalping_${{ env.VERSION_NAME }}_linux_amd64.deb
          RPM-PACKAGE-NAME: globalping_${{ env.VERSION_NAME }}_linux_amd64.rpm
          PACKAGECLOUD-USERNAME: jsdelivr
          PACKAGECLOUD-REPO: globalping
          PACKAGECLOUD-TOKEN: ${{ secrets.PACKAGECLOUD_APIKEY }}
